@import "tailwindcss";

@theme {
  --color-primary: #1a5d1a;
  --color-primary-light: #448e44;
  --color-secondary: #f9d949;
  --color-accent: #f0ff42;
  --color-bg-light: #ffffff;
  --color-bg-dark: #0a260a;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
